{% extends 'customer/master.html' %}
{% load static %}
{% block content %}

<div class="container-fluid" style="margin-left:20%">
    <div class="row">
    {% comment %} <div class="row pt-4 align-items-center gy-4 style="margin-left:20px"> {% endcomment %}
      {% comment %} <div class="col-lg-3 col-md-6 col-sm-12 mx-sm-auto"> {% endcomment %}
      <div class="col-md-3">
          <a href="#">
            <div class="card ml-5 mt-5 " style="width:16rem; height:400px">
              <div class="card-body">
                <img src="{% static 'images/cat1.webp' %}" style="width:100px" class="img-fluid" >
                  <h6 class="card-title text-center">V neck printed multi-slit A-line kurta S</h6>
  
                      <p class="card-text">Rs.690</p>
                          worldofek<br>
                          free delivery
      
    
              </div>
            </div>
          </a>
      </div>
  <div class="col-md-3">
    <a href ="#">
  
      <div class="card ml-5 mt-5 " style="width:16rem; height:400px">
        <div class="card-body">
            <img src="{% static 'images/cat2.webp' %}" style="width:100px" class="img-fluid" >
            <h6 class="card-title text-center">Abstract printed multi-slit A-line kurta S</h6>
  
            <p class="card-text">Rs.690</p>
            worldofek<br>
            free delivery
            <br>
        
        </div>
      </div>
    </a>
  </div>
  <div class="col-md-3">
    <a href ="#">
  
      <div class="card ml-5 mt-5 " style="width:16rem; height:400px">
        <div class="card-body">
            <img src="{% static 'images/cat3.webp' %}" style="width:120px" class="img-fluid" >
            <h6 class="card-title text-center">Cotton woven knee length  Kurta, L</h6>
  
            <p class="card-text">Rs.759</p>
               worldofek<br>
              free delivery
              <br>
        
        </div>
      </div>
    </a>
  </div>
  </div>
  </div> 
  
  
      {% endblock %}