{% extends 'seller/seller_master.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row"style="padding-top:10px;background-color:light">
        <h2 class="text-center" style="color:purple">Your order History!!!</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">SI No</th>
        <th scope="col">ProductImage</th>
        <th scope="col">ProductName</th>
        <th scope="col">Quantity</th>
        <th scope="col">TotalPrice</th>



      </tr>
    </thead>

</table>
</div>

</div>

{% endblock%}