{% extends 'seller/seller_master.html' %}
{% load static %}
{% block content %}
<div class="container-fluid " style="margin-left:20%">
    <div class="row">
        <div class="col-md-9">

            <h2 class ="text-center pt-3" style="color:deepskyblue">Welcome Seller!!!</h2>
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{% static 'images/sellerimage.jpg' %}"
                  alt="login form" class="img-fluid" style="border-radius: rem 0 0 1rem; width:650px;" />
              </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}