<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<style>
    a{
        text-decoration:none
    }
</style>

</head>

<body>
    {% include  'common/navbar.html' %}  
    
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #9A616D">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white max-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="{% url 'seller:index' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'seller:catalog' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span
                                    class="ms-1 d-none d-sm-inline">Product Catalogue</Product-Catalogue></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'seller:add_product' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Add Product</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'seller:update_stock' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Update Stock</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'seller:change_password' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span
                                    class="ms-1 d-none d-sm-inline">Change Password</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'seller:recent_order' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Recent Orders</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'seller:order_history' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Order History</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'seller:profile' %}" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Profile</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        

    {% block content %}{% endblock content %}
</body>
</html> 
{% comment %} {% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block header %}{% endblock %}
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ladies shoppie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    {% comment %} {% include  'common/navbar.html' %} 

   {% endcomment %}
    {% comment %} <div class="w3-sidebar w3-light-grey w3-bar-block pb-5" style="width:20%">
        
        <h3 class="w3-bar-item">Menu</h3>
        <a href="{% url 'seller:index' %}" class="w3-bar-item w3-button fw-bold mb-3"> Home</a>
        <a href="{% url 'seller:catalog' %}" class="w3-bar-item w3-button fw-bold mb-3"> Product Catalogue</a>
        <a href="{% url 'seller:add_product' %}" class="w3-bar-item w3-button fw-bold mb-3"> Add Product</a>
        <a href="{% url 'seller:change_password' %}" class="w3-bar-item w3-button fw-bold mb-3"> Change Password</a>
        <a href="#" class="w3-bar-item w3-button fw-bold mb-3"> Profile</a>
        <a href="#" class="w3-bar-item w3-button fw-bold mb-3"> Recent Orders</a>
        <a href="#" class="w3-bar-item w3-button fw-bold mb-3"> Update Stock</a>
        <a href="#" class="w3-bar-item w3-button fw-bold mb-3"> Order History</a>
      
    </div> {% endcomment %} 

    