{% extends 'common/master.html' %}
{% load static%}
{% block content %}
<section class="vh-100" style="background-color: #9A616D;">
  <h4 class="text-center pt-2">Customer Login</h4>
  <div class="container py-5" style="height:400px">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;height:450px;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:450px;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="POST">
                    {% csrf_token %}


                  <!-- to error: add class "has-danger" -->
                  <div class="form-group">
                    <label for="InputEmail1">Email address</label>
                    <input type="email" name="cemail" class="form-control form-control-sm mt-3" id="InputEmail1"
                      aria-describedby="emailHelp">
                  </div>
                  <div class="form-group">
                    <label for="InputPassword1">Password</label>
                    <a href="#" style="float:right;font-size:12px;">Forgot password?</a>
                    <input type="password" name="cpassword" class="form-control form-control-sm mt-3" id="InputPassword1">
                  </div>
                  <button type="submit" class="btn btn-primary btn-block mt-5">Sign in</button>
                  {{message}}

                  <div class="sign-up mt-3">
                    Don't have an account? <a href="{% url 'common:customer_registration' %}">Create One</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}